@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gsk35x');
  src:  url('fonts/icomoon.eot?gsk35x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gsk35x') format('truetype'),
    url('fonts/icomoon.woff?gsk35x') format('woff'),
    url('fonts/icomoon.svg?gsk35x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="medsos-"], [class*=" medsos-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.medsos-rgate:before {
  content: "\e900";
}
.medsos-scholar:before {
  content: "\e901";
}
.medsos-scopus:before {
  content: "\e902";
}
.medsos-sinta:before {
  content: "\e903";
}
